<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of formConfig">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>{{ field.label }}</mat-label>
      <input
        *ngIf="field.type === 'text' || field.type === 'date'"
        matInput
        [formControlName]="field.name"
        [type]="field.type"
      />
      <textarea
        *ngIf="field.type === 'textarea'"
        matInput
        [formControlName]="field.name"
      ></textarea>
      <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name">
        <mat-option *ngFor="let option of field.options" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-flat-button type="submit" class="submit-button">Salvar</button>
</form>