<div class="form-container">

  <form [formGroup]="denunciaForm" (ngSubmit)="onSubmit()" class="new-form">
    <mat-form-field  appearance="outline" class="example-full-width" class="form">
      <mat-label for="relato">Relato</mat-label>
      <input matInput id="relato" formControlName="relato" type="text" />
    </mat-form-field>
    <div></div>
  
    <mat-form-field  appearance="outline" class="example-full-width"  class="form">
      <mat-label for="dataEmissao">Data de Emissão</mat-label>
      <input matInput id="dataEmissao" formControlName="dataEmissao"  matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div></div>
    <mat-form-field appearance="outline" class="example-full-width"  class="form" >
      <mat-label>Origem Denuncia</mat-label>
      <mat-select formControlName="origemDenuncia">
        @for (origemDenuncia of origemDenunciasEnum; track origemDenuncia) {
          <mat-option [value]="origemDenuncia" >{{origemDenuncia}} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="example-full-width"  class="form" >
      <mat-label>Agente Violador</mat-label>
      <mat-select formControlName="agenteViolador">
        @for (agenteViolador of agenteVioladorEnum; track agenteViolador) {
          <mat-option [value]="agenteViolador" >{{agenteViolador}} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width"  class="form" >
      <mat-label>Status</mat-label>
      <mat-select formControlName="statusRD">
        @for (status of statusRD; track status) {
          <mat-option [value]="status" >{{status}} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width"  class="form" >
      <mat-label>Direito Violado</mat-label>
      <mat-select formControlName="direitosViolados" multiple (selectionChange)="onDireitoChange($event)">
        @for (direitoViolado of direitosVioladosEnum; track direitoViolado) {
          <mat-option [value]="direitoViolado" >{{direitoViolado}} </mat-option>
        }
      </mat-select>
    </mat-form-field>
  
    <button mat-stroked-button type="submit" [disabled]="denunciaForm.invalid" class="submit-button">Criar Denúncia</button>
  </form>
  
</div>
