<app-logout-button></app-logout-button>
<div class="form-container">
 
    <form [formGroup]="denunciaForm" (ngSubmit)="onSubmit()">
        <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label for="responsaveis">Responsaveis</mat-label>
            <input matInput id="responsaveis" formControlName="responsaveis" type="text" />
          </mat-form-field>
          <div></div>
          <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label for="criancasAdolescentes">crianças ou adolescente envolvidos</mat-label>
              <input matInput id="criancasAdolescentes" formControlName="criancasAdolescentes" type="text" />
            </mat-form-field>
            <div></div>
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label for="relato">Relato</mat-label>
        <textarea matInput id="relato" formControlName="relato" type="text"></textarea>
      </mat-form-field>
      <div></div>
      
          <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label for="medidasAplicadas">Medidas Aplicadas</mat-label>
            <input matInput id="medidasAplicadas" formControlName="medidasAplicadas" type="text" />
          </mat-form-field>
          <div></div>
    
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label for="dataEmissao">Data de Emissão</mat-label>
        <input matInput id="dataEmissao" formControlName="dataEmissao"  matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div></div>
      <mat-form-field appearance="outline">
        <mat-label>Origem Denuncia</mat-label>
        <mat-select formControlName="origemDenuncia">
          @for (origemDenuncia of origemDenunciasEnum; track origemDenuncia) {
            <mat-option [value]="origemDenuncia" >{{origemDenuncia}} </mat-option>
          }
        </mat-select>
      </mat-form-field>
      
      
  
      <mat-form-field appearance="outline" class="example-full-width"  class="form" >
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusRD">
          @for (status of statusRD; track status) {
            <mat-option [value]="status" >{{status}} </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- <button mat-raised-button  type="submit" [disabled]="denunciaForm.invalid" class="submit-button">Salvar</button> -->
      <button mat-flat-button  type="submit"  class="submit-button">Salvar</button>
    </form>
    
  </div>
  