.table-container{
    table {
        th {
            background-color: #005cbb;            
        }    
    }
    mat-form-field {
        margin-top: 20px;
        
      }
}
.navigate-button {
    position: absolute; 
    top: 20px; 
    right: 100px;
  }

