<mat-form-field appearance="outline">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<button mat-stroked-button (click)="navigateToNovaDenuncia()" class="navigate-button">Nova Denúncia</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="Relato">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> relato </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.relato}} </td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Status </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.statusRD}} </td>
  </ng-container>
  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Data </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> 
      {{ element.dataEmissao | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

    

    
    <ng-container matColumnDef="Acoes">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Ações </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <button mat-stroked-button (click)="deleteDenuncia(element.id)">
            Deletar
          </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhuma informação encontrada "{{input.value}}"</td>
    </tr>
    
</table>
<mat-paginator
  [pageSizeOptions]="[2, 10, 20]"
  [pageSize]="2"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>

