/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../src/assets/styles/form.scss';
@use '../src/assets/styles/colors.scss' as cores;


html, body { height: 100%; }
body { background-color: cores.$light-color; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*tabela*/
:root {
  @include mat.table-overrides((
    background-color: rgb(255, 255, 255),
    header-headline-color: #ffffff,
    row-item-label-text-color: grey,
    row-item-outline-color: rgb(255, 255, 255) 
      ));
   
}


:root {
  @include mat.paginator-overrides((
    container-background-color: rgb(255, 255, 255),
  ));
}



// Customize the entire app. Change :root to your selector if you want to scope the styles.


/*formulários*/
