/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../src/assets/styles/colors.scss' as cores;


html, body { height: 100%; }
body {background-image: url('./assets/images/gaian_paleta_esquerda.png');
  background-size: 20% 102%; /* 30% da largura e 100% da altura */
  background-position: left center; /* Posiciona a imagem à esquerda e centraliza verticalmente */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  margin: 0;
  height: 100vh; font-family: Roboto, "Helvetica Neue", sans-serif; }


  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1; // Isso faz o conteúdo crescer e empurra o footer para baixo
  }
  

/*tabela*/
:root {
  @include mat.table-overrides((
    background-color: rgb(255, 255, 255),
    header-headline-color: #ffffff,
    row-item-label-text-color: grey,
    row-item-outline-color: rgb(255, 255, 255) 
      ));
   
}


:root {
  @include mat.paginator-overrides((
    container-background-color: rgb(255, 255, 255),
  ));
}



// Customize the entire app. Change :root to your selector if you want to scope the styles.


/*formulários*/
