/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*tabela*/
:root {
  @include mat.table-overrides((
    background-color: rgb(255, 255, 255),
    header-headline-color: #005cbb,
    row-item-label-text-color: grey,
    row-item-outline-color: grey 
      ));
   
}


:root {
  @include mat.paginator-overrides((
    container-background-color: rgb(255, 255, 255),
  ));
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.


/*formulários*/
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    padding: 20px;
    
    
  }

  .new-form {

    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  .form {
    width: 100%;
    margin-bottom: 16px;
  }

  .submit-button {
    width: 100%;
    margin-top: 16px;

  }

