@use '../../../../assets/styles/colors.scss' as cores;
.footer {
  background-color: cores.$light-color; 
  color: cores.$dark-color;
  text-align: center;
  padding: 1px 0;
  box-shadow: 0px 10px 20px rgb(0, 0, 0),  
  0px 4px 6px rgb(0, 0, 0);
}
