<div class="table-container">
  <div class="table-header">
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <h1 class="table-name">{{ nome }}</h1>
  </div>
  
<table mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.key">
    <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
    <td mat-cell *matCellDef="let row; let rowIndex = index" [ngClass]="{
      'first-cell': i === 0,
      'odd-row': rowIndex % 2 !== 0,
      'even-row': rowIndex % 2 === 0
    }">
      {{ row[column.key] }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions" *ngIf="actions.length > 0">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let row; let rowIndex = index"  [ngClass]="{
      'odd-row': rowIndex % 2 !== 0,
      'even-row': rowIndex % 2 === 0
    }">
      <button
        mat-stroked-button
        *ngFor="let action of actions"
        [ngClass]="{
          'action-button-odd': rowIndex % 2 !== 0,
          'action-button-even': rowIndex % 2 === 0
        }"
        [class]="action.class || 'btn-default'"
        (click)="onActionClick(action.action, row)"
        [matTooltip]="action.label" 
         matTooltipPosition="above" 
      >
      <mat-icon>{{ action.icon }}</mat-icon>
      </button>
      
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>